.cardContainer {
    max-width: 40%;
    box-shadow: 1px 1px 10px 4px rgb(220, 220, 220);
    padding: 15px 10px;
    margin: 20px auto;
    border-radius: 10px;
}
.cardHeading > h1 {
    font-size: 22px;
    border-bottom: .5px solid rgb(220, 220, 220);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cardBody {
    padding-top: 5px;
}
.cardBody > p {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 600px){
    .cardContainer {
        max-width: 90%
    }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    .cardContainer{ 
        max-width: 80%;
    }
 
}
@media screen and (min-width: 901px) and (max-width: 1300px) {
    .cardContainer{ 
        max-width: 60%;
    }
}